
*{
    margin: 0;
    padding: 0;
}



body {
    background-color: rgb(5, 5, 63);
    /* background-color: black; */
    /* background-image: linear-gradient(blue, white); */
    color: white;
    font-family: 'Poppins', sans-serif;
}


/* ===============================================================  PORJECT HTML FILE CSS ===========================================*/

